<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SideBar</title>
		<link rel="stylesheet" href="../styles/general.css" />
		<link rel="stylesheet" href="../styles/sidebar.css" />
	</head>
	<body>
		<div>SideBar</div>

    <!-- 화면 이동 ../ 는 폴더 하나 위로 빠져나가는 것 -->
		<a href="/">Home</a>
		<a href="../profile.html">profile</a>
		<a href="../story.html">story</a>
    
		<script src="../js/sidebar.js"></script>
	</body>
</html>
