* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--base-background-color);
	display: flex;
}

#right-side-bar {
	width: 250px;
	z-index: 100;
}

.discovery__tab-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 60px 20px 0 20px;
	margin: 0 auto;
}

@media (min-width: 767px) and (max-width: 1262px) {
	#right-side-bar {
		width: 70px;
	}
}

@media (max-width: 765px) {
	#right-side-bar {
		width: 0;
	}
	.discovery__tab-container {
		padding-top: 80px;
	}
}
