/* 메인 전체 레이아웃 */
.main-warpper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

/* 메인 컨테이너 */
.main-container {
    width: 100%;
    max-width: 630px;
    margin-top: 16px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-inner {
    display: flex;
    width: min(470px, 100vw);
    max-width: 100%;
    flex-direction: column;
}

/* 메인 컨텐츠 시작 */
.main-contents-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 10307px;
}

.main-content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.main-content-profile {
    padding-bottom: 12px;
    padding-left: 4px;
}

/* 메인 컨텐츠 프로필 부분 */
.main-content-profile-flex {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-profile-image {
    margin-right: 12px;
}

.main-profile-image span {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.main-profile-image span img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.main-profile-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-profile-more-icon {
    width: 24px;
    height: 24px;
    background-image: url(/assets/icons/more.png);
}

/* 메인 컨텐츠 슬라이더 부분 (임시) */
.main-content-slider {
    width: 100%;
    height: 400px;
    background-color: aqua;
}

/* 메인 컨텐츠 내용 부분 */
.main-content-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 임시 */
/* 메인 사이드바 컨테이너 (임시) */
.aside-container {
    width: 320px;
    height: 100vh;
    margin-top: 16px; /* 이후 삭제하거나 조정 필요 */
    margin-left: 64px; /* 이후 padding-left 로 변경 필요 */
    color: #FFF;
    background-color: #737373;
}

/* 메인 스토리 (임시) */
.main-story {
    height: 100px;
    color: #FFF;
    background-color: #737373;
}